<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="IpMail" value="192.168.0.50" />
		<add key="EmailUser" value="noresponder@reportv.com.ar" />
		<add key="EmailPass" value="metallica2009" />
		<add key="Correos" value="pfreytes@reportv.com.ar" />
	</appSettings>
	<connectionStrings>
		<add name="dataBase" connectionString="Data Source = PC117\PC117; Initial Catalog=rtv_jun; Integrated security = true; TrustServerCertificate=True; Encrypt=false" />
		<!--<add name="dataBase" connectionString="Data Source = dataservertv; Initial Catalog=rtv_test; User Id = usr_rtv; Password = rtv123" />-->
	</connectionStrings>
</configuration>